site_name: LLMOps. Make AI Work For You. 
repo_url: https://github.com/boramorka/LLM-book
repo_name: boramorka/LLM-book

theme:
  name: material
  features:
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  palette:
    primary: black
  language: en

markdown_extensions:
  - meta
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search:
      lang:
        - en
        - ru

extra:
  alternate:
    - name: English
      link: en/
      lang: en
    - name: Русский
      link: ru/
      lang: ru

nav:
  - Home: index.md
